.Regist-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgb(240,240,240);
    background: -moz-radial-gradient(circle, rgba(240,240,240,1) 0%, rgba(255,255,255,1) 98%);
    background: -webkit-radial-gradient(circle, rgba(240,240,240,1) 0%, rgba(255,255,255,1) 98%);
    background: radial-gradient(circle, rgba(240,240,240,1) 0%, rgba(255,255,255,1) 98%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f0f0f0",endColorstr="#ffffff",GradientType=1);
}

.Regist-wrapper {
    width: 420px;
    background: transparent;
    color: #000000;
    padding: 30px 40px;
    border: 2px solid rgba(255, 255, 255, .2);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    border-radius: 30px;
    backdrop-filter: blur(30px);
}

.Regist-wrapper h1 {
    font-size: 36px;
    text-align: center;
    color: #F03667;
}

.Regist-wrapper h4 {
    font-size: 15px;
    text-align: center;
    color: #000000;
}

.Regist-wrapper .Regist-input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.Regist-wrapper input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid rgba(255, 255, 255, .2);
    border-radius: 15px;
    font-size: 1em;
    color: #000000;
    padding: 20px 45px 20px 20px;
    background: #EEE;
}

.Regist-wrapper input::placeholder {
    color: #000000;
}

.Regist-input-box .icon {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1em;
    color: #F03667;
}

.Regist-signup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
}

.Regist-signup button {
    height: 45px;
    border: none;
    outline: none;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 1.2em;
    background: #F03667;
    color: #fff;
    font-weight: 300;
}

.Regist-signup label {
    text-align: center;
    font-size: .9em;
}

.Regist-signup label p {
    display: inline;
    text-decoration: none;
    color: #F03667;
}

.Regist-signup label p:hover {
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}