body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: rgb(240,240,240);
  background: -moz-radial-gradient(circle, rgba(240,240,240,1) 0%, rgba(255,255,255,1) 98%);
  background: -webkit-radial-gradient(circle, rgba(240,240,240,1) 0%, rgba(255,255,255,1) 98%);
  background: radial-gradient(circle, rgba(240,240,240,1) 0%, rgba(255,255,255,1) 98%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f0f0f0",endColorstr="#ffffff",GradientType=1);
}